*.out
a.out
*.log
*.tmp
*.swp
*.o
*.d
libsingle_cycle_axi4.so
libsingle_cycle_axi4.a
examples/demo_api_static.out
examples/demo_api_shared.out
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

bin/*
!bin/.gitkeep
!bin/coremark.bin
!bin/dhrystone.bin
